<div class="animate__animated animate__fadeIn animate__faster">
  <p>Por pais</p>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar pais..."
      ></app-pais-input>
    </div>
  </div>
  <ul class="list-group" *ngIf="mostrar">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let pais of paisesSugeridos"
    >
      <a [routerLink]="['/pais', pais.alpha2Code]" class="nav-link">
        {{ pais.name }}
      </a>
    </li>
    <li
      class="list-group-item list-group-item-action"
      (click)="buscarSugerido(termino)"
    >
      <a class="nav-link"> </a>
      Buscar {{ termino }}
    </li>
  </ul>
  <hr />
</div>

<!-- Error -->
<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
